html, body, p, hr, img, span{
  outline:0;
  margin:0;
  border:0;
  padding:0;
  cursor:default;
  font:caption;
}
body{
  color:#2e3436;
  background:#ffffff;
}
@media (prefers-color-scheme: dark) {
  body{
    color:#eeeeec;
    background:#2f2f2f;
  }
}
.loading{
  display:none;
}
p{
  padding:4px 12px;
  min-width:150px;
}
p:first-of-type{
  margin-top:4px;
}
p:last-of-type{
  margin-bottom:4px;
}
p:hover{
  background-color:rgba(0,0,0,0.15);
}
hr{
  border:1px solid #e0e0e0;
  border-width:1px 0 0 0;
  margin:4px 0;
}
@media (prefers-color-scheme: dark) {
  p:hover{
    background-color:rgba(255,255,255,0.15);
  }
  hr{
    border-color:#606060;
  }
}
p > span{
  padding-left:23px;
  background-size:16px 16px;
  background-repeat:no-repeat;
}
p > span.radio{
  background-image:url("/images/controls/radio_light.svg");
}
p > span.radio.checked{
  background-image:url("/images/controls/radio_checked_light.svg");
}
p > span.checkbox{
  background-image:url("/images/controls/checkbox_light.svg");
}
p > span.checkbox.checked{
  background-image:url("/images/controls/checkbox_checked_light.svg");
}
p#configuration > span{
  background-image:url("/images/icons/icon_configuration_light.svg");
}
p#temporary > span{
  background-image:url("/images/icons/icon_temporary_light.svg");
}
p#history > span{
  background-image:url("/images/icons/icon_history_light.svg");
}
@media (prefers-color-scheme: dark) {
  p > span.radio{
    background-image:url("/images/controls/radio_dark.svg");
  }
  p > span.radio.checked{
    background-image:url("/images/controls/radio_checked_dark.svg");
  }
  p > span.checkbox{
    background-image:url("/images/controls/checkbox_dark.svg");
  }
  p > span.checkbox.checked{
    background-image:url("/images/controls/checkbox_checked_dark.svg");
  }
  p#configuration > span{
    background-image:url("/images/icons/icon_configuration_dark.svg");
  }
  p#temporary > span{
    background-image:url("/images/icons/icon_temporary_dark.svg");
  }
  p#history > span{
    background-image:url("/images/icons/icon_history_dark.svg");
  }
}